@import '../../scss/mixins.scss';

:host {
  position: absolute;
}

.wall {
  @include block;
  background-color: #dfdfde;
  box-shadow: inset 0 0 0 4px #8d8daa;
  position: absolute;
  z-index: 1;
}

.soft-wall {
  @include block;
  background-color: #d8d2cb;
  position: absolute;
  z-index: 20;
}
