@import './scss/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block {
  @include block;
}

.game {
  position: relative;
}

.bomber {
  @extend .block;
  background-color: #30aadd;
  position: absolute;
  z-index: 100;
}
