* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin block {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.block {
  @include block;
}

.game {
  position: relative;
}

.wall {
  @extend .block;
  background-color: #dfdfde;
  box-shadow: inset 0 0 0 4px #8d8daa;
  position: absolute;
}

.soft-wall {
  @extend .block;
  background-color: #d8d2cb;
  position: absolute;
}
